@import '~@picocss/pico/scss/pico.fluid.classless';

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

$body-color: black;

.logo {
  font-size: 32px;
}

body {
  color: $body-color;
  font-family: sans-serif;
}

nav {
  position: static;
  width: 100%;
  padding: 0 var(--block-spacing-horizontal);
}

ul {
  padding-left: 0;

  li {
    list-style-type: none;
  }
}

my-router-link.list-item > a,
label.list-item {
  border-radius: var(--border-radius);
  background: var(--code-background-color);
  padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
  margin-bottom: var(--form-element-spacing-horizontal);
  display: block;
}

.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

body > .container {
  padding-top: 0;
}

.fade-animation {
  animation: fadein 0.3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

button {
  background-position: center;
  transition: background 0.8s;
}

button:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

button:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}
